.projects{
   background: white;
   display: grid;
   grid-template-rows: auto auto auto;
   grid-template-columns: auto auto auto;
   grid-gap: 30px;
}
.winephoto{
max-width: 370px;
height: auto;
}
.parkphoto{
    max-width: 375px;
    height: auto;
}
.projectList>li{
    display: block;
}

.project1{
    grid-row: 1;
    grid-column: 3;
    
}
.title{
    color:black;
    font-size: 22px;
}
.description{
    display: block;
    max-width: 375px;
    text-align: center;
}
.project2{
    grid-row: 1;
    grid-column: 2;
} 
.project3{
    grid-row: 1;
    grid-column: 1;

    
} 
.description>p,.description>ul{
    text-align: initial;
}

.description>a{
    color: black;
}
.projectPage{   
    display: flex; 
    justify-content: center;
    align-content: center;
    width: 100%; 
    padding: 3%;
    
}
.projectsColumn{
    display: block;
    text-align: center;
    width: 100%; 
}
.projectsColumn>.project{
    display: block; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
}
.projectsColumn>.description{
    display: block;
    margin-left: auto;
    margin-right: auto;
}