.projects{
   background: white;
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 30px;
   text-align: center;
}
.winephoto{
    max-width: 350px;
    height: auto;
}
.parkphoto{
    max-width: 350px;
    height: auto;
}


.title{
    color:black;
    font-size: 22px;
}
.descriptionColumn{
    display: block;
    
}
.descriptionColumn>a,.descriptionColumn>li{
    

    display: flex;
    justify-content: center;
    align-content: center;
    

}

.description>p{
    text-align: initial;
    display: block;
   
    
}
.projectList{
    display: block;
    padding: 0;
}
.description>a{
    color: black;
}
.projectPage{   
    display: flex; 
    justify-content: center;
    align-content: center;
    width: 100%; 
    padding: 3%;
    height: auto;
    margin-bottom: 15%;
    
}
.projectsColumn{
    display: block;
    text-align: center;
    width: 78%; 
}

.winephotoSmall,.parkphotoSmall{
    max-width: 275px;
    height: auto;
}
