.articlePage{
   display: inline-block;
   position: absolute;
   top: 11%;
   left: 0;
   width: 100%;
   height: auto;
   background: white;
   padding-left: 5%; 
   padding-right: 5%;
   
   
}
.articlePage>p{
    padding: 1%;
    
}
.articlePhoto{
    width: 65%;
    margin-left: 17%;
    height: 275px;
    object-position: bottom
    
}

.articlePage>p>b{
    font-size: 28px;
    
    
}
.articleList>li{
    display: block
}

.backButton{
    background-color:rgb(1, 1, 114);
    border-radius: 40px;
    border: 0;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 75px;
    text-align: center;
    text-decoration: none;
    width: 75px;
    
}

.backButton:active, .backButton:focus, .backButton:hover{
    outline: none
}
.buttonLink{
    text-decoration: none;
    
}
.backButton:hover{
    color: gainsboro
}
.articleHeader{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -60px;
    text-align: center
}
.content{
    padding: 0;
    margin: 0;
}
.credits{
    color: gray; 
    text-align: center;
    margin: 0; 
    padding: 0;
    font-size: 14px
}
.articlePhotoSmall{
    max-width: 300px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-left:5% ;
    max-height: 200px;
}
.buttonLinkSmall{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20%
}