.articlePage{

   width: 100%;
   height: auto;
   background: white;
   padding-left: 5%; 
   padding-right: 5%;
   padding-top: 2%;
   margin-bottom: 20%;
   margin-top: 0;
   z-index: -2;
   
}
.articlePage>p{
    padding: 1%;
    
}
.articlePhoto{
    display: flex;
    justify-content: center;
    padding: 0%;
}

.articlePhoto>img{
    width: 500px;
    height: 300px;
    object-position: bottom;
    object-fit: cover;
}

.articlePage>p>b{
    font-size: 28px;
    
    
}
.articleList>ul{
    margin-left:100 !important;
}

.backButton{
    background-color:rgb(1, 1, 114);
    border-radius: 40px;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 75px;
    text-align: center;
    text-decoration: none;
    width: 75px;
    padding: 0;
    margin: 0
    
}

.backButton:active, .backButton:focus, .backButton:hover{
    outline: none
}
.buttonLink{
    text-decoration: none;
    
}
.backButton:hover{
    color: gainsboro
}
.articleHeader{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -60px;
    text-align: center
}
.content{
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}
.credits{
    color: gray; 
    text-align: center;
    margin: 0; 
    padding: 0;
    font-size: 14px
}
.articlePhotoSmall{
    max-width: 300px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-left:5% ;
    max-height: 200px;
}
.buttonLinkSmall{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20%
}