.leadQuote{
    font-size: 24px;
    text-align: center;
    padding: 2%;
    color: rgb(1, 1, 114);
    background-color: rgb(229, 229, 250);
    font-family: 'Playfair Display', serif;
   
    
}
.leadPage{
    display: block;
    width: 100%;
    background:white;
    left: 0;

   
}
.leadNotes, .articles{
    margin: 1.5%;
   
}
.articles{
    display: inline-block;
    margin-bottom: 0;

}
.leadPage{
   display: flex;
   align-content: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   text-align: center;
  
}
.contain{
display: block;

}
.articleImgLoader{
    margin:0;
    height: 300px;
    width: 400px;
    background-color:rgb(1, 1, 114);

   
}


.photo{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 6px solid rgb(1, 1, 114)
}

.photoSmall{
    max-width: 300px;
    max-height: 200px;
}
