.leadQuote{
    font-size: 24px;
    /* margin: 5%; */
    text-align: center;
    /* background: rgb(210, 180, 140,.6); */
    /* background: black; */
    padding: 2%;
    color: black;
   
    
}
.leadPage{
    display: block;
    width: 100%;
    background:white;
    left: 0;

   
}
.leadNotes, .articles{
    margin: 1.5%;
   
}
.articles{
    display: inline-block;
    margin-bottom: 0;
    /* max-width: 400px;
    max-height: 500px;
    overflow: hidden; */
}
.leadPage{
   display: flex;
   align-content: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   text-align: center;
  
}
.contain{
display: block;

}
.articleImgLoader{
    margin:0;
    height: 300px;
    width: 400px;
    background-color:rgb(1, 1, 114);
   
}
.photo{
    width: 400px;
    height: 300px;
    object-fit: cover;
 
}

.photoSmall{
    max-width: 300px;
    max-height: 200px;
}