
.homePage{
    display: flex;
    text-align: start;
    padding-left: 2%;
    padding-right: 2%;
    height:auto;
    background: white;
    width: 100%;
    
    
}
.homePage>p{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
    color: rgb(1, 1, 114);
}

.bio{
    font-family: 'Source Code Pro', monospace;
}
.page{
    height: 100vh;
    overflow: visible;
}

.welcome{
    font-size: 56px;
    font-family: 'Playfair Display', serif;
    color:rgb(230, 230, 240)
}