
.homePage{
    display: flex;
    text-align: start;
    padding: 2%;
    height:auto;
    background: white;
    width: 100%;
    
    
}
.homePage>p{
    margin-left: 2%;
    margin-right: 2%
}


.page{
    height: auto;
    overflow: visible
}

.welcome{
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    color: rgb(157, 155, 155); 
}