.About{
    text-align: center;
    ;
    
}

.About-me{
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    color: white
}
.About-description{
    background-color:rgb(229, 229, 250);
    width: 100%;
    height:auto;
    margin-bottom: 8%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: rgb(1, 1, 114);
    display: flex;
    justify-content: space-evenly;
}
.personal-logo{

    max-height: 300px
}

.contact, .contact>a{
    text-decoration: none;
    font-family: 'Source Code Pro', monospace; 
    font-size: 26px;
}
.contact{
  justify-self: space-between;
  width: 400px
}
.contact>a:hover{
    text-decoration: line-through;
    text-decoration-color: rgb(1, 1, 114);
    color: rgb(1, 1, 114);
}


@media only screen and (max-width: 650px) {
    .personal-logo{
        display: none; 
    }
    .contact{
        margin-right: auto;
        margin-left: auto; 
    }

}
