.learn-code{
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-bottom: 15%;
    margin-left: -55%;
    color: rgb(157, 155, 155);

}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
}
.quote{
    display: inline-block;
    font-size: 34px;
    margin-top: -26%;
    margin-right: -28%;
    font-family: 'Playfair Display', serif;
    background:rgba(210, 180, 140, 0.75);
    padding: 3%;
    color: white;
    margin-bottom: 7%
}
