.learn-code{
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    color: rgb(157, 155, 155);
    margin-top:6%
    
}
.bottom-banner{
    text-align: center;
    
    width: 100%;
    overflow-y: visible;
    padding-bottom: 20%
    
}

.largeScreen{
    display: flex;
    justify-content: space-evenly
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
}
.quote{
    font-size: 34px;
    font-family: 'Playfair Display', serif;
    background: rgb(1, 1, 114);
    color: white;
    padding: 20px;
    text-align: center

    
}
.bottomMain{
    margin-bottom: 3%
}