.container{
    text-align: center;
    width: 100vw;
    height: auto;
    padding: 2%  
}

.side>p{
    margin: 5%
}
.bio{
    text-align: left;
}

.img-banner>p{
    display: inline-block;
}

.img-banner{
   overflow-x: scroll;
   height: 350px;
 
   overflow-y: scroll; 
   white-space: nowrap;
   width: 100%;
 
 
}
.photo-style1>Img,.photo-style2>Img,.photo-style3>Img{
   height: 300px ;
   width: 400px;
   padding: 2%;
   
   
}
.mainImgLoader{
    margin:0;
    height: 300px;
    width: 400px;
    background-color: rgb(1, 1, 114)  
}