
li{
    display: inline-block;  
    margin-right: 1%;
  

}

.mainNav>li,.nav-leader>li{

    list-style-type:none;
    
}


banner>ul>li>.a{
    border: none;
    background: none;

}

.a{
   
    color: white;
    font-size: 20px;
}

.routerLink{
    text-decoration: none;
}
.routerLink>.a:hover{
    /* color: rgb(179, 208, 220); */
    color:gainsboro;
}
#nav-leader{
    background-color: rgb(1, 1, 114);
    text-align: left;
    padding: 5px;
    width: 125px;
    position: absolute;
    z-index: 1;
    top: 45px;
    
 
}
h3{
    font-size: 16px;
    color: white;
    margin: 5px;
  
    
}
.dropDownLink{
    text-decoration: none; 

}

ul{
    margin-left: -80%;
    padding-top: -1.8%;
   
}